{% extends 'base.html' %}
{% load static %}

{% block title %}Password Reset Done{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
    <div class="login-container">
        <div class="login-left-container">
        </div>

        <div class="login-right-container">
            <div class="login-form-container">
                <div class="login-form-2">
                    <form class="login-form-primary" method="POST" action="{% url 'password_reset' %}">
                        {% csrf_token %}
                        <div class="logo-text-container logo-text-container-link">
                            <a href="{% url 'product_list' %}">
                                <img src="{% static 'images/logo_gradina_craciun.png' %}" alt="Logo">
                            </a>
                            <h1 class="h1-text">BĂCĂNIA GRĂDINA CRĂCIUN</h1>
                        </div>
                        <h2 class="h2-text">Resetare Parolă</h2>
                        <div class="text-confirmation">
                            <p class="info-text">Un e-mail de resetare a parolei a fost trimis la adresa de<br>
                                e-mail mentionată.</p>
                            <p class="info-text">Urmati instructiunile din email pentru a reseta parola.</p>
                        </div>

                    </form>
                </div>
                <div class="login-footer">
                    <p><a class="login-text" href="{% url 'login' %}">Înapoi la autentificare</a></p>
                    <p><a class="login-text" href="{% url 'product_list' %}">Înapoi la magazin</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}









{#{% block content %}#}
{#<div class="container">#}
{#    <h2 class="h2-text">Am uitat parola</h2>#}
{#    <p>Un e-mail de resetare a parolei a fost trimis la adresa de e-mail mentionata. </p>#}
{#    <p>Urmati instructiunile din email pentru a reseta parola.</p>#}
{#<div class="login-footer">#}
{#    <p><a class="login-text" href="{% url 'login' %}">Înapoi la autentificare</a></p>#}
{#    <p><a class="login-text" href="{% url 'product_list' %}">Înapoi la magazin</a></p>#}
{#</div>#}
{##}
{##}
{#</div>#}
{#{% endblock %}#}