{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="main-container">
        <!-- Mobile Hamburger Menu -->
        <div class="mobile-menu d-md-none">
                <button class="hamburger-btn" type="button" data-bs-toggle="collapse" data-bs-target="#mobileNavbarMenu" aria-expanded="false" aria-controls="mobileNavbarMenu">
                    ☰
                </button>
                <div class="collapse" id="mobileNavbarMenu">
                    {% if request.user.is_authenticated %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'password_reset' %}">Schimba parola</a>
                        </li>
                        <li class="nav-item">
                            <form id="logout-form" method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="nav-link btn-link">Ieși din cont</button>
                            </form>
                        </li>
                    </ul>
                    {% else %}
                    <a class="signin-button nav-link" href="{% url 'login' %}" role="button">Autentificare</a>
                    {% endif %}
                </div>
        </div>
        <div class="main-container-top-above">
            <div class="main-container-top agreement-top">
                <div class="logo-text-container">
                    <a href="{% url 'product_list' %}">
                        <img src="{% static 'images/logo_gradina_craciun_white.png' %}" alt="Logo">
                    </a>
                    <h1 class="h1-text logo-text">BĂCĂNIA GRĂDINA CRĂCIUN</h1>
                </div>
                <div class="sign-in">
                    {% if request.user.is_authenticated %}
                         <!-- Dropdown Button -->
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Salut, {{ request.user.first_name|default:"Salut" }}
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
{#                                <li><a class="dropdown-item" href="#">Profil</a></li>#}
{#                                <li><a class="dropdown-item" href="#">Istoric comenzi</a></li>#}
                                <li><a class="dropdown-item" href="{% url 'password_reset' %}">Schimba parola</a></li>
                                <li>
                                    <form id="logout-form" method="post" action="{% url 'logout' %}">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item" style="background:none; border:none; color:black; cursor:pointer;">
                                            Ieși din cont
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    {% else %}
                        <a class="signin-button" href="{% url 'login' %}" role="button">Autentificare</a>
                    {% endif %}
                </div>
            </div>
        </div>


        {# Panel 6 - Politica retur #}
        <div  class="order-conf-panel3">
            <div class="order-conf-panel2 without-border">
                <h2 class="text-title">Politica retur</h2>
                <p class="text-optional">
                    <span class="text-optional span">
                        La Grădina Crăciun, ne dedicăm furnizării de produse alimentare proaspete și sănătoase direct de la fermă
                        pe masa dumneavoastră. Din acest motiv, toate produsele comercializate pe site-ul nostru, www.gradinacraciun.ro,
                        sunt de natură alimentară și, prin urmare, sunt exceptate de la dreptul de retragere.
                    </span>
                    <span>
                        Conform legislației în vigoare, respectiv O.G. 34/2014 privind drepturile consumatorilor în cadrul contractelor
                        încheiate cu profesioniștii, returnarea produselor alimentare în termen de 14 zile calendaristice nu este
                        posibilă. Aceasta măsură este necesară pentru a asigura siguranța alimentară și calitatea produselor pe care le livrăm.
                    </span>
                    <span>
                        Înțelegem importanța satisfacției clienților noștri și ne angajăm să oferim produse de cea mai înaltă calitate.
                        Dacă aveți orice nelămuriri sau întâmpinați probleme cu produsele noastre, vă rugăm să ne contactați imediat,
                        iar echipa noastră va fi bucuroasă să vă asiste.
                    </span>
                    <span>
                        Vă mulțumim pentru înțelegere și pentru că alegeți Grădina Crăciun!
                    </span>
                </p>
            </div>
        </div>

<!-- Footer Section -->
        <footer class="footer link-footer">
            <div class="footer-container">
                <ul class="footer-links">
                    <li class="link-footer-wrap"><a href="{% url 'how_to_buy' %}">Cum cumpar</a></li>
                    <li class="link-footer-wrap"><a href="{% url 'delivery_info' %}">Informatii livrare</a></li>
                    <li class="link-footer-wrap"><a href="{% url 'terms_and_conditions' %}">Termeni si conditii</a></li>
                    <li class="link-footer-wrap"><a href="{% url 'about_us' %}">Despre noi</a></li>
                    <li class="link-footer-wrap"><a href="{% url 'payment_methods' %}">Metode de plata</a></li>
                    <li class="link-footer-wrap"><a href="{% url 'return_policy' %}">Politica de retur</a></li>
                    <li class="link-footer-wrap"><a href="{% url 'confidentiality' %}">Confidentialitate</a></li>
                </ul>
            </div>
        </footer>
    </div>


{% endblock %}